.nav{
   
   
     position:fixed;
    
    margin-bottom: 50px;
     overflow: hidden;
      top: 41px;
  width: 100%;
    z-index: 2;
    background-color:#ffff;
   margin-bottom: 500px;
padding-top: 10px;
padding-bottom: 10px;

 transition: all 1s;
 
}
.span{
    color:#111;

     margin-left: 2em;
     cursor: pointer;
     font-size:15px;
     font-weight: 500;

     
}
span{
  color:black
}
.span:hover{
    opacity: 0.5;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  
}
/* .toggle{
  visibility: hidden;
} */

.nav_white{
    
    
    
    z-index: 2;
    background-color: #FC9904;
  

}
.nav_white span{
  color:white
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
 
}
