.con{
       margin-bottom: 5px;

     position:fixed;
     top:0;
    margin-bottom: 50px;
     overflow: hidden;
      top: 0;
      margin-top:0;
  width: 100%;
    z-index: 2;
  background-color:#ffff;
 transition:all 3s;
 padding-bottom:20px;
}

.con_white{
    
   top:0;
   
    
    z-index: 2;

   
}
.input{
   
    width:0.7em;

      
}
.inputSearch1 input{
 
     width: 100%;
      
    
     
 
     
}
.btn9{
      margin-left: 5px;
  background-color:#ffff;
 border:none;
 box-shadow: none;
 overflow: hidden;
}
.btn9:hover{
      background-color: #FC9904;  
}
.btn9:active{
  background-color: #FC9904;   
}

a{
      font-size:10px;
      color:white;
}

.searchInput{
 
}
.linkDrop{
  color:black;
  font-size:18px;
  margin-bottom:20px;
  text-align: center;

}
